<div class="columns small-12">
  <h1>All Mechanics</h1>
  <% @mechanics.each do |mech| %>
    <p><%= link_to mech.name, mechanic_show_path(mech) %> | Years Experience: <%= mech.years_experience %></p>
  <% end %>

</div>

<div class="columns small-12">
  <p>Average Years Experience: <%= @avg_years_exp %></p>
</div>