<h1>All Mechanics</h1>

<h3><% @mechanics.each do |mechanic| %>
  <%= mechanic.name %><br>
  <%= mechanic.years_experience %><br></h3>
<% end %>

<h4>Average years of experience for all mechanics: <h4>
