<h2>All Mechanics</h2>

<p>Our mechanics have an average of <%= @mechanics.avg_exp %> years of experience.</p>
<ul>
<%= @mechanics.each do |m| %>
  <li>Name: <%= m.name %> has <%= m.years_experience %> years experience.</li>
<% end %>
</ul>
