<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
    <h3><%= mechanic.name %></h3>
    <p>Years of experience: <%= mechanic.years_experience %></p>
<% end %>

<h4>Average years of experience: <%= @experience %></h4>