<h1> All Mechanics </h1>
<% @mechanics.each do |mechanic| %>
<section id="mechanic-<%= mechanic.id %>">
  <h3>Name: <%= mechanic.name %></h3>
  <p><%= mechanic.years %> years of experience </p>
  <% end %>
</section>
