<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <h4><%= mechanic.name %></h4>
  <p> <%= mechanic.years_experience %> </p>
<% end %>
<br>
<p>Average Years of Experience: <%= @mechanics.avg_exp %></p>
