<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p>Name: <%= mechanic.name %> </p>
  <p>Years of Experience: <%= mechanic.years_experience %> </p>
<% end %>

<h2>Average Years of Experience of Mechanics</h2>
<%= @mechanics.average_years_experience %>
