<h1>All Mechanics</h1><br><br>

<% @mechanics.each do |mechanic| %>
  <h3><%= mechanic.name %></h3>
  <p>Years Experience: <%= mechanic.years_experience %></p><br><br>
<% end %>


<h3>Average Years Experience: <%= @mech_avg %></h3>
