<h1>All Mechanics</h1>

<section>
  <% @mechanics.each do |mechanic| %>
    Name: <%= mechanic.name%>
    Experience: <%= mechanic.experience%>
  <% end %>

 Average Years Experience:<%= %>
</section>