<h1>All Mechanics</h1>

<p><% @mechanics.each do |mechanic| %>
  Name: <%= mechanic.name %><br>
  Years of Experience: <%= mechanic.years_experience %><br>
  Open rides this mechanic is currently working on: <br><br>
<% end %></p>

<p>Average years of experience for all mechanics:
  <%= @mechanics.average_years_experience %><p>
