<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <h2>Name: <%= mechanic.name %></h2><br/>
  <h2>Years of experience: <%= mechanic.years_experience %></h2><br/>
  <p>---------------------</p>
<% end %>

<h2>Average Mechanic Experience: <%= @mechanics.average_experience_in_years %></h2>  
