
<% @mechanics.each do |mechanic| %>
  <section id="mechanic-<%= mechanic.id %>">
    <p><%= mechanic.name %></p>
    <p><%= mechanic.years_experience %></p>
  </section>

  <p>Average years experience: <% @mechanics.average_years_experience %></p>  
<% end %>
