<h1>All Mechanics</h1>
<h3>Average years of experience: <%= Mechanic.average_exp %></h3>
<% @mechanics.each do |mechanic| %>
	<section id="mechanic-<%= mechanic.id %>">
		<p>Name: <%= mechanic.name %></p>
		<p>Years: <%= mechanic.years_experience %></p>
	</section>
<% end %>