<h1> All Mechanics </h1>

<% @mechanics.each do |mechanic|%>
<p> Name: <%= link_to "#{mechanic.name}", "/mechanics/#{mechanic.id}" %> 
 <%= "Years of Experience: #{mechanic.years_experience}" %> </p>
<% end %>

<p> <%= "Average years of Experience: #{@average}" %> </p>