<h1><%= @mechanic.name %></h1>

<p>Experience: <%= @mechanic.years_experience %> years</p>

<div>
  <p>Currently working on:</p>
  <ul>
    <% @mechanic.open_rides_by_thrill_rating.each do |ride| %>
      <li><%= ride.name %></li>
    <% end %>
  </ul>
</div>
