<h1>Mechanic Info</h1>

<p>Name: <%= @mechanic.name %> </p>
<p>Years of Experience: <%= @mechanic.years_experience %> </p>
<% @rides.each do |ride|%>
  <p>Rides Working on: <%= ride.name %> </p>
<% end %>
