<h1>Mechanic Name:</h1>
<h2><%= @mechanic.name %></h2>
<p><%= @mechanic.years %></p>

<section id="rides">
<h3>Rides:</h3>
<% @mechanic.rides.isort_by_most_thrills_and_open.each do |ride| %>
<p><%= ride.name %> - Rating: <%= ride.rating %></p>
<% end %>
</section>
