<h1><%= @mechanic.name %></h1>
<p>Years Experience: <%= @mechanic.years_experience %></p></br>
<h3>Current rides being worked on:</h3>
<% @rides.each do |ride| %>
      <p><%= ride.name %></p>
  <% end %>
