<h1>Mechanics</h1>

<p>Name: <%= @mechanic.name %></p>
<>Years Experience: <%= @mechanic.years_experience %></>
<p>Current rides they’re working on:</p>
<% @mechanic.rides.each do |ride|%>
<p> <%= ride.name %></p>
<%end%>