<h1>Professors</h1>
<% @professors.each do |professor| %>
    <h2><%= professor.name %></h2>
    Age: <%= professor.age %><br>
    <%= professor.specialty %><br>
  <%= link_to 'Update', "/professors/#{professor.id}/edit" %>
<% end %>
