<h1>Professors</h1>
<% @professors.each do |professor| %>
<section id="professor-<%=professor.id%>">
  <p><%= professor.name %></p>
  <%= button_to "Update Professor", "/professors/#{professor.id}/edit", method: :get %>
</section>
<% end %>
