<h2><%= @professor.name %></h2>
<%= @professor.age %>
<%= @professor.specialty %>

<section id="students">
<%= "Professors students:" %>
<% @professor.students.each do |student| %>
    <h3> student.name </h3>
<% end %>
</section>
