
<h2>Name: <%= "#{@professor.name}" %></h2>
Age: <%= @professor.age %><br>
Specialty: <%= @professor.specialty %><br>
Students: <% @students.each do |student| %>
    <%= "#{student.name}, " %>
    <% end %>
