<h1>All Professors</h1>
<% @Professors.each do |professor| %>
  <% professor.each do |student| %>
    <h3>Student Name:<%= student.name%></h3>
  <% end %>

  <%= professor.name%>
  <%= professor.age%>
  <%= professor.job%>
<% end %>
